<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:siebel="http://www.mulesoft.org/schema/mule/siebel" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/siebel http://www.mulesoft.org/schema/mule/siebel/current/mule-siebel.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">

	<os:object-store name="watermarkStore" doc:name="Object store"
		persistent="false" />
	<siebel:siebel-config name="Siebel_JDB_Siebel"
		doc:name="Siebel JDB Siebel" doc:id="889d9507-0057-44fb-805b-79e5e222b3ab">
		<siebel:basic-connection user="${sieb.user}"
			password="${sieb.password}" server="${sieb.server}" port="${sieb.port}"
			serverName="${sieb.serverName}" objectManager="${sieb.objectManager}" />
	</siebel:siebel-config>
	<salesforce:sfdc-config name="Salesforce_Config"
		doc:name="Salesforce Config" doc:id="a1011df1-85a1-467a-b762-20e848a465e0">
		<salesforce:basic-connection username="${sfdc.username}"
			password="${sfdc.password}" securityToken="${sfdc.securityToken}"
			timeObjectStore="watermarkStore" />
	</salesforce:sfdc-config>
	<configuration-properties doc:name="Configuration properties"
		doc:id="7584fb1d-2fa2-445a-b949-eed01f5785bd" file="common.properties" />
	<configuration-properties doc:name="Configuration properties"
		doc:id="86e0eb9d-cf2e-451a-9e09-b4afdf13e0e9" file="mule.${mule.env}.properties" />
	<configuration-properties doc:name="Configuration properties"
		doc:id="0abdf143-d5d1-4168-bdbd-7e3722442725" file="mule-artifact.properties" />
	<global-property doc:name="Global Property" name="mule.env"
		value="dev" />

</mule>

        